body {
	margin: 0px;
	color: #424242;
	text-transform: none;
	text-decoration: none;
	font-size: 9pt;
	font-family: sans-serif;
	background: #FFFFFF;
	width: 100%;
}


h1 {
    text-transform: uppercase;
    font-size: 12pt;
    color: #656565;
    border-bottom: solid 1px #466086;
    padding-top: 10px;
    margin-top:10px;
}
h2 {
    border-bottom: solid 1px #CCC;
}
h1{font-size:1.5em;line-height:1.4em;margin:.85em 0 0em;} 
h2{font-size:1.3em;font-weight: bold;padding-top:.1em;margin:2.05em 0 1.3em;}
h3{font-size:1.125em;}
h4{font-weight:bold;font-size:1em;}
h1{font-weight:bold;}

#top{
	background: transparent url(../image/head.jpg) repeat-x;
	height: 25px;
	display: block;
	top:0;
	margin: 0;
	width: 100%;		
}

#head {
	padding: 4px;
	padding-right: 50px;
	color: #FFFFFF;
	text-align: right;
}


#container {
	top: 26px;
	border-top: solid 1px #FFFFFF;
	width: 100%;
	height: 100%;
}

#content {
	width: 65%;
	padding: 10px;
	float: left;
	position: inherit;
        height: 80%;
}
#sidebar {
	width: 30%;
	float: right;
	padding: 10px;
	text-align: left;
	margin-top: 40px;
	position: inherit;
	margin-right: 4px;
}
#footer {
	bottom: 0px;
	width: 40%;
	margin: 0 auto;
	position:absolute;
	padding: 10px;
	padding-left: 40px;
}

#head a {
	color: #FFFFFF;
	text-decoration: none;
}

#head a:hover {
	color: #DDDDDD;
	text-decoration: underline;
}

.white {
	background-color: #FFFFFF;
        height: 100%;
}

#partigene {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}
#search {
	background-color: #FFFFFF;
                height: 100%;
}
#blast {
	background-color: #FFFFFF;        height: 100%;
}
#background {
	background-color: #FFFFFF;        height: 100%;
}
#publications {
	background-color: #FFFFFF;        height: 100%;
}
#statistics {
	background-color: #FFFFFF;        height: 100%;
}
#slideContainer{
	text-align: center;
	margin: 0 auto;
	width: 800px;
        height: 100%;
}
tr:nth-of-type(even) {
  background-color:#ccc;
}
table {
display: block;
    margin: 0 auto;
    border: none;
    padding: 10px;
	margin: 5px;
text-align: center;
}
td {
	min-width: 150px;
text-align: center;
}
a:visited, a:link, a:hover  {
    font-family : sans-serif;
}

a:visited, a:link {
    text-decoration : none;
    color           : #466086;
}

a:hover  {
    color           : grey;
    text-decoration : underline;
}
